{% extends 'transationtemplate.html' %}



{% block index_head %}
       <h5 class="my-0 mr-md-auto font-weight-normal">事务表单处理</h5>
       <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-7 text-dark" href="../main/informationservice"><strong id="backmainpage">回首页</strong></a>
       	  <a class="p-2 text-dark" ><strong >用户名：</strong></a>
       	  <a class="p-2 text-dark" ><strong id="AdminName">Username</strong></a>
       </nav>
{% endblock %}


{% block index_contrl %}

<div class="container">
  <div class="card-deck mb-3 text-center">


    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">增加标题框</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">^ <small class="text-muted">...</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
        <li>本模块负责自动增加录入内容框......</li>

        </ul>
        <button type="button" onclick="addtitle();" class="btn btn-lg btn-block btn-primary">新增</button>
      </div>
    </div>


    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">状态查询框</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">^ <small class="text-muted">...</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
        <li>本模块负责查询提交的内容</li>

        </ul>
        <button type="button" onclick="displaycontent();" class="btn btn-lg btn-block btn-primary">查询</button>
      </div>
    </div>





</div>


<style>
.title{
	display:inline-block;
	float:left;
	background:#f00;
}
.content{
	display:inline-block;
	float:left;
	background:#0f0;
	margin-left:100px;
}
._btsubmit{
	display:inline-block;
	float:left;
	background:green;
	margin-left:800px;
}
</style>

	<div class="title" id="titleid">
	</div>
	<div class="content" id="contentid">
	</div>


    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">提交区</h4>
		<button class="_btsubmit" type="button" onclick="reqpost();" >submit</button>
        </div>
      <div class="card-body">
      
		<div>
		  <form id="formid" action="uploadcontent" method="post" name="formreq">
		  </form>
		</div>

      </div>
    </div>


{% endblock %}


{% block index_content %}

{% endblock %}

{% block script %}

<script>
<!---------------------- JS Func ------------------->


var serverip = '10.32.64.101'; //ipaddress
var serverport = '8080'; //port

function load_data(){
	var username = localStorage.getItem("user");
	if(username==null || username==""){
	}else{
		$("#AdminName").text(username);
	}
}
function purchasedetail(){
	var username = $("#AdminName").text();
	url = "purchasedetail?" + "username=" + username; 
 //	window.location.href= url;	
	alert("待完善中......");
}
function updateidorname(){

	var listinput = document.getElementsByTagName("input");
	var listtextarea = document.getElementsByTagName("textarea");
	var len = listinput.length - 1 ;
		
	for(num =0;num <= len;num++)
	{	
		listinput[num].name = "title" + num; 
		listtextarea[num].name = "content" + num; 
	 	//alert(listinput[num].name);
	 	//alert(listinput[num].value);
	 	//alert(listtextarea[num].name);
	 	//alert(listtextarea[num].value);
	}
	var listdiv = document.getElementsByTagName("div");
	for(num=0;num<listdiv.length;num++)
	{
		listdiv[num].id = "div" + num; 
	}
	var listbutton = document.getElementsByTagName("button");
	for(num=0;num<listbutton.length;num++)
	{
		listbutton[num].id = "_delbutton" + num; 
	}

}
function reqpost(){
	updateidorname();
	//modify form action,add username
	var username = $("#AdminName").text();
    
	//username	
	var top = document.getElementById("formid");
        var newElement = document.createElement("input");
	newElement.setAttribute("name","username");
	newElement.setAttribute("value",username);
	newElement.style.visibility = "hidden";
	top.appendChild(newElement);


	//get system time
	var myDate= new Date();
	var year = myDate.getFullYear();
	var mouth = myDate.getMonth()+1;
	var date = myDate.getDate();
	var now = year + '-' + mouth + '-' + date;
	//data
        var newdataElement = document.createElement("input");
	newdataElement.setAttribute("name","date");
	newdataElement.setAttribute("value",now);
	newdataElement.style.visibility = "hidden";
	top.appendChild(newdataElement);


//	url = "www.baidu.com"; 
//	document.formreq.action = url ;
	$("form").submit();
	//add 2020.11.8 for bug
	alert('end');
}
function deltitle(index){
	    var top = document.getElementById("formid");
	    var strid = index.id;
		alert(strid);
	    var _childdiv = document.getElementById(strid);
	    var _parentdiv = _childdiv.parentElement;
    	    var _parentdiv_id = _parentdiv.id;
		alert(_parentdiv_id);
	    var _last = document.getElementById(_parentdiv_id);
	    var _end = _last.parentElement;
	    var _ok = document.getElementById(_end.id);
            _ok.parentNode.removeChild(_ok);

}

var i =1;
function addtitle()
{
    var tmp = '';
    tmp +=  '<div class="card mb-1 shadow-sm" id = "456">';
    tmp +=  '<div class="card-header" id="123">';
    tmp +=  '标题：<input type="text" name="title" value="">';
    tmp +=  '<button id ="_delbutton" type="button" onclick="deltitle(this);" name="button">删除</button>';
    tmp +=  '</div>';
    tmp +=  '<div class="card-body" id ="789">';
    tmp +=  '内容：<textarea type="textarea" name="content" row="5" cols="120">';
    tmp +=  '</textarea>';
    tmp +=  '</div>';
    tmp +=  '</div>';
    
    var div = document.createElement("div");
    div.innerHTML = tmp;
    div.id = i;
    var top = document.getElementById("formid");
    top.appendChild(div);
    updateidorname();
}

function displaycontent()
{
	var username = $("#AdminName").text();
	url = "customcontentdetail?" + "username=" + username; 
 	window.location.href= url;	
}

/*
var j=1;
function addcontent()
{
    var top = document.getElementById("contentid");
    var div = document.createElement("div");
    var input = document.createElement("input");
    var del = document.createElement("input");
    div.innerHTML="内容" + j + " ";
    div.id = j; 

    input.type = "text";
    input.name = "v";
    input.value = "jihite";
    input.id = "v" + j;

    del.type = "button";
    del.name = "d";
    del.value = "删除";
    del.id = 'd' + j;
    del.onclick = function remo()
        {
            alert("删除内容：" + input.value);
            top.removeChild(div);
        };

    j = j + 1;

    div.appendChild(input);
    div.appendChild(del);

    top.appendChild(div);
}
*/


</script>


{% endblock %}
















